
body {
    padding-top: 80px;
    background-color: #eee;
    background: url(../img/bgadmin.jpg);

}
.btn 
{
    outline:0;
    border:none;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    box-shadow:inset 2px -3px rgba(0,0,0,0.15);
}
.btn:focus
{
    outline:0;
    -webkit-outline:0;
    -moz-outline:0;
}
#voltarinicio{
    width: 100px;
}
#sidebar-wrapper {
    top: 52px;
    left: -200px;
    width: 200px;
    background-color: #5677fc;
    color: white;
    position: fixed;
    height: 100%;
    z-index: 1;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
}
.sidebar-nav li a {
    color: white;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    background: rgba(255,255,255,0.25);
    color: white;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -200px;
}

@media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: 0s;
        left: 200px;

    }
}