#apresentacao-img{
    height: calc(100vh - 55px);
    margin-top: 55px;
}


.navbar{
    background-color: #263238;
    /*background-color: #363636;*/
}

#menu-apresentacao .nav-link{
    color: rgb(132, 194, 37);
    font-weight: bold;
}

#menu-apresentacao .nav-link:hover{
    opacity: 0.8;
}

#menu-apresentacao .navbar-toggler{
    color: rgb(132, 194, 37);
}
#menu-apresentacao .navbar-brand img{
    margin-top: -10px;
}




#texto-inicio{
    font-size: 18pt;
}


.voltar-topo{
    width: 40px;
    height: 40px;
    position: fixed;
    float: right;
    top: 100%;
    left: 100%;
    margin-top: -40px;
    margin-left: -50px;
    background-color: rgb(132, 194, 37);
    cursor: pointer;
    border-radius: 7px 7px 0 0;
    text-align: center;
}


.grupo-direita .btn, .grupo-direita img{
    float: right;
}

.grupo-direita .btn{
    margin-left: 12px;
}

.grupo-direita img{
    margin-top: 13px;
    margin-right: 10px;
    display: none;
}

.voltar-topo:hover{
    height: 50px;
    margin-top: -50px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.1s;
}

.voltar-topo i{
    color: #fff;
    margin-top: 5px;
    font-size: 20pt;
}

#btn-contato{
    background-color: rgb(132, 194, 37);
    color: #000;
    font-weight: bold;
}

#btn-contato:hover{
    opacity: 0.8;
}

#icone-enviar{
    font-size: 150pt;
    color: rgb(132, 194, 37);

}

.animado, #efeito-time div.p-4:hover{
    transition: all 0.5s ease-out;	
}

.animado:hover{
    transform: translateY(-10px);
    box-shadow: 4px 15px 8px 0px rgba(50,50,50, 0.45);
}

#efeito-time div.p-4:hover{
    transform: translateY(-10px);
}


@media (max-width: 350px) { 

    #texto-inicio{
        font-size: 14pt;
    }

}